body {
  margin: 3em auto;
  max-width: 55em;
}
#visuals {
  float: left;
  margin-right: 1em;
}
canvas {}

#example {
  height: 300px;
}

#info {
  float: left;
  width: auto;
}
#vt-title {
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
}
#vt-command {
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  font-size: 1.3em;
  margin: 0 0 1em;
}
#vt-description span  {
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
.poly {
  color: white;
  padding: .03em 0.3em;
  font-size: 0.8em;
  display: inline-block;
  border-radius: 0.3em;
  font-weight: 900;
}
.blue { 
  background-color: #0074D9;
}
.red { 
  background-color: #FF4136;
}
#vt-next {
  float: right;
}
#vt-next:hover {}
#vt-next:focus {}
#vt-command-steps {
  display: block;
}
.command-step {
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  display: block;
}